*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: #383838;
    font-family: sans-serif;
}
header{
    display: flex;
    height: 70px;
    width: 100%;
    background-image: linear-gradient(rgb(88, 5, 143),rgb(189, 0, 247));
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    --top: 0%;
    --left: 0%;
}
.logo{
    position:absolute;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo img{
    width: 70px;
    padding: 10px;
}
.logo h2 {
    font-variant-caps: all-small-caps;
    color: #ffffff;
}
.navegacion {
    width: 1000px;
    margin: 30px auto;
    text-align: right;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding-right: 10px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}
.menu li a:hover{
    color: #000000;
    transition: all .3s;
    opacity: 0.5;
}
/* Contenedor general */
.content{ 
    width: 1000px;
    height: 100%;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(170, 170, 170),rgb(170, 170, 170), rgb(85, 85, 85),rgb(85, 85, 85),rgb(0, 0, 0));
    margin-left: auto;
    margin-right: auto;
}
/*SECCION SOBRE MI*/
.sobreMi {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 20px 20px;
    transition: 0.3s;
}
.avatar{
    width: 180px;
    height: 180px;
    border-radius: 10%;
    border: 1px solid #8a2be2;
    
    --position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    padding: 2px 16px;
}
.sobreMitxt {
    color: #000000;
}
/*SECCION HABILIDADES*/
.Habilidades{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container_lenguajes{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 5px;
}
.lenguaje {
    margin: auto;
    display: flex;
    padding: 10px;

}
.lenguaje img{
    width: 150px;
    height: 150px;
    filter:grayscale(50%);
    padding: 10px;
}
.lenguaje img:hover{
    transition: .3s;
    transform: scale(1.1);
    filter:grayscale(0%)
}
/*SECCION PROYECTOS*/
.Proyectos{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.Proyectos h2{
    text-align: center;
    padding: 10px;
    color: white;
}
.container-card{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}
.card {
    background-image: linear-gradient(rgb(88, 5, 143),rgb(189, 0, 247));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 280px;
    width: 220px;
    border-radius: 8px;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;

    color: rgb(255, 255, 255);
}
.card >img{
    position: relative;
    display: block;
    width: 220px;
    height: 150px;
    padding: 10px;

}
.card:hover{
    transition: .5s;
    transform: translateY(-2%);
}
.btn_ver{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.btn_ver:hover{
    transition: .3s;
    color: #000000;
}
/*SECCION CONTACTO*/
.Contacto{
    display: grid;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.Contacto > h2{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 5px;
}
.container-contacto{
    background-color: rgba(255, 255, 255, 0.158);
    position: relative;
    width: 500px;
    height: 500px;
    border: solid rgb(189, 0, 247);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
form{
    width: 500px;
    margin: auto auto;
    text-align: left;
    padding: 20px;
    
}
input{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: -25px;
    margin-bottom: 40px;
}
textarea{
    width: 100%;
    height: 190px;
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: -10px;
    resize: none;
}
.center {
    margin: 0;
    position: absolute;
    bottom: 1%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn_enviar {
    border-radius: 8px;
    background-image: linear-gradient(rgb(88, 5, 143),rgb(189, 0, 247));
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.btn_enviar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn_enviar span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn_enviar:hover span {
    padding-right: 25px;
}
.btn_enviar:hover span:after {
    opacity: 1;
    right: 0;
}

/*FOOTER Y REDES SOCIALES*/
.social_media_btns{
    padding-top: 4px;
    min-width: 700px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.social_media_btns a{
    margin: 0 10px;
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #383838;
    color: white;
    border-radius:50%;
    box-shadow: 2px 2px 5px rgba(97, 97, 97, 0.5);
    transition: all .4s ease-in-out;
}
.social_media_btns a:hover{
    transform: scale(1.2);
}
footer {
    background-color: black;
    min-height: 70px;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}